[submodule "vendor/Druid"]
	path = vendor/Druid
	url = https://github.com/Grant12311/Druid.git
[submodule "vendor/Hangar2"]
	path = vendor/Hangar2
	url = https://github.com/Grant12311/Hangar2
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
