[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/Grant12311/glm.git
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "vendor/Druid"]
	path = vendor/Druid
	url = https://github.com/grant12311/Druid.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/Grant12311/stb.git
