[submodule "vendor/Druid"]
	path = vendor/Druid
	url = https://github.com/Grant12311/Druid.git
[submodule "vendor/Hangar2"]
	path = vendor/Hangar2
	url = https://github.com/Grant12311/Hangar2
[submodule "vendor/Beacon"]
	path = vendor/Beacon
	url = https://github.com/Grant12311/Beacon.git
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/Grant12311/imgui.git
[submodule "vendor/clip"]
	path = vendor/clip
	url = https://github.com/dacap/clip.git
