/bin
/obj
examples/Game/bin
examples/Game/obj

examples/Game/Game.cbp
examples/Game/Game.depend
examples/Game/Game.layout
examples/Game/gmon.out

GJGO.cbp
GJGO.depend
GJGO.layout
GJGO.make
GJGO.workspace
GJGO.workspace.layout
Makefile
